<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.177466232608-4bgh4hn9ldct0nmcia2nur3enlrd9o4v</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>177466232608-4bgh4hn9ldct0nmcia2nur3enlrd9o4v.apps.googleusercontent.com</string>
	<key>KAKAO_APP_KEY</key>
	<string>4f73341c490141268efcfe719b7fefff</string>
	<key>KAKAO_PHASE</key>
	<string>alpha</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
	</array>
</dict>
</plist>
